/*CVS - Bryan Lynn*/
.bg-dark {
  background: #000 !important; }

.cvs {
  padding-top: 3em; }
  .cvs .list-group li {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 1.5em; }
    .cvs .list-group li:hover {
      z-index: 0; }
    .cvs .list-group li span {
      padding-left: 1em;
      display: inline-block;
      width: 100%; }
  .cvs .list-group :first-child {
    border-top: 0; }
  .cvs .list-group :last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .cvs .list-group p, .cvs .list-group b, .cvs .list-group a, .cvs .list-group form, .cvs .list-group span, .cvs .list-group div {
    border: 0 !important; }
  .cvs .link-regular {
    color: #d43200;
    font-weight: bold; }
    .cvs .link-regular:hover {
      color: #d43200; }
  .cvs-link {
    color: #d43200;
    text-decoration: none;
    font-weight: bold;
    display: block; }
    .cvs-link:after {
      content: " ";
      width: 22px;
      height: 36px;
      background: url(/assets/caret.png) top center no-repeat;
      position: absolute;
      margin-left: 6px;
      background-size: 56%;
      margin-top: 3px; }
    .cvs-link:hover {
      color: #d43200; }
  .cvs-drug-search {
    display: block;
    width: auto; }
    .cvs-drug-search input[type='text'] {
      border: 2px solid rgba(0, 0, 0, 0.125) !important;
      margin-right: 0px;
      padding: 0.5em;
      outline: 0; }
    .cvs-drug-search button {
      background: #d43200;
      color: #fff;
      padding: 0.5em;
      outline: 0;
      margin-left: -5px;
      border: 2px solid #d43200;
      width: 7em; }
  .cvs-sidebar {
    border: 2px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 1em; }
    .cvs-sidebar a {
      text-align: left;
      padding: 0.3em; }
    .cvs-sidebar-subtitle {
      font-size: 13px;
      color: #444; }
    .cvs-sidebar-caption {
      font-size: 15px;
      margin-top: 5px; }
    .cvs-sidebar img {
      max-width: 100%; }
  .cvs-right {
    text-align: right;
    padding-right: 1.8em;
    padding-bottom: 0.8em; }
  .cvs-orders {
    font-size: 13px;
    padding-bottom: 10px; }
    .cvs-orders-num {
      text-decoration: underline; }
    .cvs-orders-status-red {
      color: #d43200; }
    .cvs-orders-status-black {
      color: #000; }
  .cvs .desktop-hide {
    display: none; }

/*responsive*/
@media (min-width: 321px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row; }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem; } }
@media (max-width: 640px) {
  .navbar-dark {
    display: none; }

  .d-inline-block {
    background: #cd2202 url(/assets/header_mobile.png) top center no-repeat;
    position: absolute;
    width: 0;
    top: 0;
    height: 0;
    z-index: 100;
    padding: 0 0 41px 100%;
    left: 0; }

  .mobile-activate {
    padding: 0; }

  .cvs .col-8, .cvs .col-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  body {
    padding-bottom: 12em;
    width: 100%; }

  .mobile-hide {
    display: none; }

  .cvs .desktop-hide {
    display: block; } }

/*# sourceMappingURL=theme.css.map */
