<a href="#" class="cvs-link cvs-right mobile-hide">Go to full site</a>
<div class="cvs-sidebar">
    <h3>Your Health Plan</h3>
    <p class="cvs-sidebar-subtitle">Individual Deductible</p>
    <img src="/assets/arc_teal.png" alt="Teal Arc" />
    <p class="cvs-sidebar-caption">Until your $300 deductible is met</p>
    <a href="#" class="cvs-link">Your insurance coverage details</a>
    <a href="#" class="cvs-link">Your copay details</a>
</div>